<div class="row">
  <div class="col-md-12">
    <h1><%= @expert.name %></h1>
  </div>
</div>
<% @topic_experts.each do |te| %>
  <%- if current_user %>
    <%= link_to "+", add_friend_experts_path(@expert.id, te.id), method: :post, class: 'btn btn-sm btn-primary' %>
  <% end %>
  <%= te.name %><br/>
<% end %>
