<h1><%= @expert.name %></h1>
<div><%= link_to @expert.url, @expert.url %></div>
<% if @expert.short_url %>
<div><%= link_to @expert.short_url, @expert.short_url %></div>
<% end %>
<h2>Topics</h2>
<div>
  <% @expert.topics.each do |topic| %>
    <div><%= topic.content %></div>
  <% end %>
</div>
<h2>Friends</h2>